<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">搜索书单</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <th>书单标题</th><th>书单类型</th><th>书单简介</th>
            <% @searchbooklist.each do |booklist| %>
                <tr>
                    <td><%= booklist.title %></td>
                    <td><%= booklist.bl_type %></td>
                    <td><%= booklist.intro %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
